# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/.settings/
/target/
/.classpath
/.gitignore
/.project
/.springBeans
/log
/src/main/resources/application.properties
